body, .button {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

.background {
	background: url("../img/bg.png") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper {
	background-color: white;
	width: 80%;
	margin: 0 auto;
	padding: 50px;
}

.button {
	background: #91ac27;
	padding: 10px;
	border: none;
		color: white;
	font-size: 14px;
	text-decoration: none;
	width: 220px;
}
	
.link {
	display: block;
	text-align: center;
	width: 200px;
	text-decoration: none;
}
